{% extends 'base.html' %}
{% block title %}
      Daily List  
    {% endblock title %}
{% block body  %}
<div class="container1 mb-3">
  <form action="/" method="POST">
    <h3>Create a ToDo</h3>
      <div class="mb-3">
        <label for="title" class="form-label" >Title</label>
        <input type="text" class="form-control" id="title" name="title">
      </div>
      <div class="mb-3">
        <label for="desc" class="form-label">ToDo description</label>
        <input type="text" class="form-control" id="desc" name="desc">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
      
    <h2 id="container2-h2">My ToDo</h2>
    <div class="container2 my-3">
        
      {% if allTodo|length == 0 %}
      <div class="alert alert-primary" role="alert">
       Opps! it's empty.Add a Task 
      </div>
            
          
      {% else %}

        <table class="table" >
            <thead>
              <tr>
                <th scope="col" style="background-color:cadetblue;">Sno</th>
                <th scope="col" style="background-color: cadetblue;">Title</th>
                <th scope="col" style="background-color: cadetblue;">Desc</th>
                <th scope="col" style="background-color: cadetblue;">Time</th>
                <th scope="col" style="background-color: cadetblue;">Actions</th>
              </tr>
            </thead>
            
                {%for todo in allTodo %}
              <tbody>
              <tr>
                <!-- we are using loop.index inplace of todo.sno because if
                  we del a row then the no shouldn't be delteled -->
                <td>{{loop.index}}</td> 
                <td>{{todo.title}}</td>
                <td>{{todo.desc}}</td>
                <td>{{todo.date_created}}</td>
                <td>
                  <div class="d-flex gap-1"> <!-- Flexbox layout with small gap -->
                      <a href="/delete/{{todo.sno}}" class="btn btn-danger btn-sm">Delete</a>
                      <a href="/update/{{todo.sno}}" class="btn btn-success btn-sm">Update</a>
                  </div>
              </td>
              

              </tr>
            </tbody>
              {% endfor %}
            
          </table>
      {% endif %}
    </div>
    
{% endblock body %}